.main{
    width:500px;
    height:450px;
    border:2px solid blue;
    margin-top: 150px;
    margin-left: 30%;
}
.shape{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    grid-column-gap:169px ;
    grid-row-gap:144px;
}

.Box{
    
    border: 2px solid red;
    width: 60px;
    height: 60px;
    
}
.cir{
    border: 2px solid green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.text{
    display: flex;
    justify-content:  center;
    align-items: center;
    color: purple;
}